{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-12">
        <form method="get">
          <div class="table-responsive-sm">
            <table class="table table-borderless fs-6 text-center">
              <tbody>
                <tr>                  
                  <td style="padding: 0; margin: 0">
                    
                    <input type="text" name="num_sorteo" class="form-control"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="pt-4">
            <button type="submit">Buscaraaa</button>
        </div>
      </form>
    </div>
</div>


{% endblock%}